main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.head_img {
    background-image: url(https://images5.alphacoders.com/958/958580.jpg);
    background-size: cover;
    flex-grow: 0.8;
}

.client {
    flex-grow: 1.2;
}
