header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    background-color: #1f1b24;
}

header>img {
    width: 280px;
    height: 70px;
    margin-left: 5px;
}

.login_block {
    margin-right: 5vw;
}
.login_block>a {
    color: #fff;
    text-decoration: none;
}
.login_block>a:hover {
    color: #03dac5;
}
.sign {
    display: flex;
    align-items: center;
}

.sign>p, .sign>span {
    color: #fff;
}

.sign>span {
    margin-right: 1vw;
    cursor: pointer;
}

.sign>span:hover {
    color: #03dac5;
}