@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300&display=swap');

.wrap {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas:
        "header header"
        "nav main";
    grid-template-rows: 10% 1fr;
    grid-template-columns: 20% 1fr;
    grid-gap: 2px;
}

/* Site header */

header {
    grid-area: header;
    background-color: #67809f;
}

header>img {
    width: 300px;
    height: 80px;
}

/* Site Navigation */

nav {
    grid-area: nav;
    background-color:#67809f;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    font-family: 'DM Mono', monospace;
}

nav>div {
    margin-top: 30px;
}

nav>div:nth-child(5) {
    margin-top: 100%;
}

nav>div>a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
}

nav>div>a:hover {
    color: plum;
}

/* Main information site */

main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.head-main-img {
    background-image: url(https://bgfons.com/upload/rainbow_texture679.jpg);
    background-size: cover;
    flex-grow: 0.3;
}

.client {
    flex-grow: 1;
}

.posts {
    flex-grow: 2;
}