.dialogs {
    display: grid;
    grid-template-columns: 30% 1fr;
    grid-gap: 10px;
    height: 90vh;
    width: 82.3vw;
}

.users_dialogs {
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
    background-color: #433e47;
}

.messages {
    padding: 10px;
    border-radius: 10px;
    background-color: #433e47; 
    width: 53vw;
}

.inputMessage {
    position: absolute;
    bottom: 1vh;
    display: flex;
}
.inputMessage textarea {
    width: 45vw;
    height: 20px;
    border-radius: 10px;
    resize: none;
}
.inputMessage textarea::placeholder {
    margin-left: 40px;
}

.inputMessage button{
    width: 100px;
    height: 27px;
    margin-left: 10px;
    margin-bottom: 10px;
    background-color: #03dac5;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: #fff;
    cursor: pointer;
}
.inputMessage button:hover {
    background-color: #00eed6;
}
.inputMessage textarea, .inputMessage button {
    outline: none;
}

.inputMessage span {
    position: absolute;
    bottom: 5vh;
    left: 0;
}