nav {
    grid-area: nav;
    background-color:#1f1b24;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    font-family: 'DM Mono', monospace;
}

nav>div {
    margin-top: 30px;
}

nav>div:nth-child(6) {
    margin-top: 60%;
}

nav>div>a {
    text-decoration: none;
    color: #fff;
    font-size: 1.8em;
}
.friend_block>h3 {
    color: #fff;
    font-size: 2em;
}

nav>div>a:hover {
    color: #bb86fc;
}
nav>div>a.active {
    color:#bb86fc;
}
/* color secondary material #03dac5 */